html {
  box-sizing: border-box;
}

body {
  font-family: "Gothic A1", sans-serif;
  font-size: 16px;
  color: #3d3d3d;
}

h1 {
  font-weight: bold;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0.5rem 0;
}

/*header section*/

header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 4rem;
}

.logo {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
}

.logo-icon p {
  align-items: center;
}

 .menu ul {
  list-style: none;
  padding-right: 1.5rem;
}

 .menu li {
  display: inline;
  padding-left: 1rem;
}

 .mobile {
  display: none;
}

.menu a {
  text-decoration: none;
}

.menu a:visited {
  color: #3d3d3d;
}

.menu a:hover {
  color: #0080ff;
}

@media only screen and (max-width: 760px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .logo {
    flex: none;
  }

  .menu ul {
   padding: 0 1rem 0 1rem;
 }
}

@media only screen and (max-width: 470px) {
  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1rem;
  }

  .logo {
    display: none;
}

  .menu ul {
    display: none;
  }

 .mobile {
   display: flex;
   align-items: center;

 }

.mobile ul {
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;

}

.mobile li {
   display: inline;
   padding: 0 2rem;
}
}

/*main section*/

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D2D2D2;
  width: 100%;
}

.photo-content {
  width: 60%;
  padding: 2rem 1.5rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.image-container img {
  max-width: 100%;

}

.main-content {
  text-align: left;
  padding-left: 1rem;
  padding-right: 3rem;
  width: 40%;
}

.link-button {
  background-color: #3d3d3d;
  color: #ffffff;
  width: 60%;
  text-align: center;
  padding: 0.5rem 0;
}

.link-button a {
  text-decoration: none;
  color: #ffffff;
}

.link-button a:hover {
  text-decoration: none;
  color: #0080ff;
}

@media only screen and (max-width: 760px){
  .main-content {
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 470px) {
  .main-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .photo-content {
    width: 100%;
    padding: 0;
  }

  .main-content {
    padding: 0 1rem;
    width: 90%;
  }

  .link-button {
    margin-bottom: 2rem;
    width: auto;
  }
}

/*info section*/

.info-container {
  width: 100%;
  display: flex;
}

.info {
  width: 60%;
  padding: 2rem 1.5rem;
}

.info-text {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.info-text h2 {
  margin: 0;
}

@media only screen and (max-width: 470px) {
  .info {
      display: none;
    }
}

/*side menu section*/

.side-menu-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.side-menu {
 display: flex;
 flex-direction: row;
 align-items: center;
 padding: 1rem 1rem;
}


.small-photo {
  width: 35%;
  padding-right: 1rem;
}

.small-photo img {
  max-width: 100%;
}

.side-menu-text {
  width: 65%;
  text-align: left;
}

.side-menu-text a {
  text-decoration: none;
  color: #0080ff;
}

.side-menu-text a:hover {
  color: black;
}

.last-menu-item {
  background-color: #D2D2D2;
}

@media only screen and (max-width: 760px) {
  .info {
    width: 50%;
    padding-right: 1rem;
  }
  .side-menu-container {
    width: 50%;
  }

  .small-photo {
    width: 50%;
  }

  .side-menu-text {
    width: 40%;
  }

  .side-menu-text h3 {
    font-size: 1rem;
  }

  .side-menu-text p {
    font-size: .85rem;
    padding: .25rem 0;
  }
}


@media only screen and (max-width: 470px) {
  .side-menu-container {
    width: 100%;

  }

  .side-menu {
    flex-direction: column;
    align-items: center;
  }

  .small-photo {
    width: 100%;
    padding: 1rem;
  }

  .small-photo img {
    width: 100%;
  }

  .side-menu-text {
    width: 100%;
  }

  .last-menu-item {
    background-color: #ffffff;
  }
}

/*courses section*/

.content-container {
  display: flex;
  flex-direction: column;
  background-color: #D2D2D2;
  width: 100%;
  align-content: center;
}

.title {
  align-items: center;
  text-align: center;
  padding-top: 2rem;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 4.5rem;
}

.courses {
  width: 30%;
  background-color: #ffffff;
  margin-bottom: 1.5rem;
}

.courses h3 {
  padding-top: 1rem;
}

.image-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container2 img{
  max-width: 100%;
}

.course-info {
  text-align: left;
  padding: 0 1rem 1.5rem 1rem;
}

@media only screen and (max-width: 760px){
  .courses-container {
    padding: 2rem 2rem;
  }
  .course-info p {
    font-size: .75rem;
  }
}

@media only screen and (max-width: 470px) {
  .content-container {
    background-color: #ffffff;
  }
  .courses-container {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .image-container2,
  .course-info p {
    display: none;
  }
  .courses {
    background-color: #D2D2D2;
    width: 100%;
    align-items: center;
  }

  .course-info {
    display: inline;
  }

  .course-info h3 {
    padding: 0 0 0 16px;
  }
}

/*exhibit section*/

.exhibit-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.info2 {
  width: 60%;
  padding: 1rem 1.5rem;
}

.image-container video {
  max-width: 100%;
}

@media only screen and (max-width: 760px) {
  .info2 {
    width: 50%;
  }
  .image-container video {
    width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  .exhibit-container .side-menu-container {
    display: none;
  }

  .info2 {
    width: 100%;
    padding: 0 0 2.5rem 0;
  }

   .info2 .info-text {
    display: none;
  }

  .image-container video {
    width: 100%;
  }
}

/*exhibit section*/

footer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
}

footer span {
  flex: 1;
  padding-left: 24px;
}

footer ul {
  margin: 0;
  padding-right: 1.5rem;
}

footer li {
  list-style: none;
  display: inline;
  padding-left: 1rem;
}

@media only screen and (max-width: 470px) {
  footer span {
    flex: none;
  }

  footer ul li{
    display: none;
  }
}
