html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;

}

body {
  color: #3d3d3d;
}

h1 {
  font-weight: bold;
}

h3 {
  margin: 8px 0;
}

header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 64px;
}


.logo {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;
}

.logo-icon p {
  align-items: center;
}

header nav ul {
  list-style: none;
  padding-right: 24px;
}

header li {
  display: inline;
  padding-left: 16px;
}

header .mobile {
  display: none;
}

header a {
  text-decoration: none;
}

header a:visited {
  color: #3d3d3d;
}

header a:hover {
  color: #000000;
}



.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D2D2D2;
  width: 100%;
}

.photo-content{
  width: 60%;
  padding: 32px 24px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.image-container img {
  max-width: 100%;

}

.main-content {
  text-align: left;
  padding-left: 24px;
  width: 40%;
}

.link-button {
  background-color: #3d3d3d;
  color: #ffffff;
  width: 50%;
  text-align: center;
  padding: 8px 0;
}

.info-container {
  width: 100%;
  display: flex;

}

.info {
  width: 60%;
  padding: 32px 24px;
}

.info-text {
  text-align: left;
  padding-top: 32px;
  padding-bottom: 24px;
}

.info-text h2 {
  margin: 0;
}


.side-menu-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 16px;
}

.side-menu {
 display: flex;
 flex-direction: row;
 align-items: center;
 padding: 16px 16px;
}

.side-menu a {
  text-decoration: none;
  color: #0080ff;
}

.small-photo {

  width: 35%;
  padding-right: 16px;
}

.small-photo img {
  max-width: 100%;

}

.side-menu-text {
  width: 65%;
  text-align: left;
}

.content-container {
  display: flex;
  flex-direction: column;
  background-color: #D2D2D2;
  width: 100%;
  align-content: center;
}
.title {
  align-items: center;
  text-align: center;
  padding-top: 32px;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 32px 72px;
}
.courses {
  width: 30%;
  background-color: #ffffff;
  margin-bottom: 24px;
}

.image-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container2 img{
  max-width: 100%;
}

.course-info {
  text-align: left;
  padding: 0 16px;
}

.exhibit-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bottom-container {
  display: flex;

}

.image-container video {
  max-width: 100%;
}

footer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
}

footer span {
  flex: 1;
  padding-left: 24px;
}

footer ul {

  margin: 0;
  padding-right: 24px;

}

footer li {
  list-style: none;
  display: inline;
  padding-left: 16px;
}
